body {
    header {
        
        button {
            &.btn-header {
                border: 1px solid map-get($theme-colors, "warning");
                background-color: white;
                color: map-get($theme-colors, "warning");
                font-weight: 700;
            }
        }

        .icones {
            i:before {
                font-size: 1.0em;
            }
            i:hover:before {
                color: map-get($theme-colors, "warning");
            }
        }

        #menu {
            width: 30px;
            flex-wrap: wrap;
            color: map-get($theme-colors, "warning");
            span {
                font-size: 0.5em;
            }
            i:before {
                font-size: 2.0em;
                height: 20px;
            }
        }

        ul {
            margin-left: 150px;
        }

        .fa-search {
            font-size: 1.8em;
            margin-left: 140px;
        }

        /* Mixin */
        @media screen and (max-width:992px) {
            .icones {
                i{
                    display: none;
                }
            }
            .navbar {
                display: none;
            }
        }
    }//end header

    main {
        button {
            &.btn-banniere {
                border: none;
                background-color: white;
                color: map-get($theme-colors, "warning");
            }
            &.btn-banniere:hover {
                color: white;
                background-color: map-get($theme-colors, "dark"); 
            }
        }
        section {
            h3 {
                width: 90%;
                #p1 {
                    font-size: 0.65em;
                    padding-right: 30px;
                    margin-right: 30px;
                    width: 1900px;
                }
                #p2 {
                    width: 2500px;
                    margin-left: 5px;
                    font-size: 0.5em;
                }
                button {
                    font-size: 0.5em;
                    height: 30px;
                    width: 50%;
                }
            }
            #img1 {
                width: 90%;
                height: auto;
                margin-left: 50px;
            }
            #img2 {
                width: 110%;
                height: auto;
                margin-left: 0;
            }
            button {
                padding: 5px 15px;
                font-size: 0.9em;
                font-style: bold;
                border: none;
                &.btn-saison, &.btn-festival {
                    color:white;
                    background-color: map-get($theme-colors, "dark");
                }
                &.btn-festival:hover, &.btn-saison:hover {
                    color: map-get($theme-colors, "dark" );
                    background-color: white;
                    border: 1px solid black;
                }
                &.btn-saison {
                    margin-left: 30px;
                }
                &.btn-calender {
                    margin-left: 573px;
                    font-size: 1.1em;
                    color:black;
                    background-color: white;
                    border: 1px solid black;
                }
                &.btn-calender:hover {
                    color: white;
                    background-color: map-get($theme-colors, "dark");
                }
                &.btn-card {
                    color: white;
                    background-color: map-get($theme-colors, "dark");
                    max-width: 60%;
                    font-size: 0.6em;
                }
                &.btn-card:hover {
                    color: map-get($theme-colors, "dark" );
                    background-color: white;
                    border: 1px solid black;
                }
            }
            .card {
                border: none;
                margin-bottom: 35px;
            }
        } //end section
        .btn-spectacles {
            font-size: 1.0em;
            font-weight: 700;
            background-color: white;
            color: map-get($theme-colors, "warning" );
            border: 2px solid map-get($theme-colors, "warning");
            border-radius: 0;
            margin: 5px auto;
            display: block;
        }
        .btn-spectacles:hover {
            background-color: map-get($theme-colors, "warning" );
            color: white;
        }
    } //end main

    footer {
        hr {
            width: 88%;
            border-top: 1px solid black;
            margin: 30px auto;
        }
        li {
           margin-bottom: 13px;
        }
        section {
            font-size: 0.9em;
            line-height: 0.95em;
        }
        #logo_3m {
            width: 200%;
            height: auto;
        }
    }
} //end body